.buy_head{
    font-size: 1.25em;
    padding: 10px 0px;
    background-color: #F7F7F8;
    border-bottom: 1px solid #C8C8C8;
    text-align: center;
    color: #000;
}


.buy_table{
    border: none;
    width: 100%;
}
.buy_table_head td{
    background-color: #f0efed;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}


.buy_table_content td{
    background-color: #FFF;
    padding: 15px 20px;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px dotted #E5E5E5;
}
.buy_table_content .td_l{
    width: 45%;
}
.buy_table_content .td_r{
    width: 55%;
    text-align: right;
}
.buy_table_content .yingfu{
    color: #FF9712;
    font-weight: bold;
}
.shuoming{
    padding: 10px 20px;
    color: #6bbd00!important;
}

.a_tjdd{
display:block;
width:100%;
padding: 15px 0px;
background-color:#03BA8A;
text-align:center;
margin:30px 0px 0px 0px;
border:1px solid #03BA8A;
color:#FFFFFF;
font-size:20px;
cursor:pointer;
float: right;
margin-bottom: 50px;
}
.a_tjdd:hover{
    background-color:#00FFDB;
    color:#FFFFFF;
    
    
}
.pay_method select{
    padding: 1px 30px;
    font-size: 16px;
}






.gmcg{
    width: 100%;
    text-align: center;
}
.gmcg_xinxi{
    margin: 50px auto;
    display: inline-block;
}
.gmcg_title{
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
.gmcg_tishi{
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
}
.button_gmcg{
    display: inline-block;
    padding: 0px 20px;
    line-height: 33px;
    color: #03BA8A;
    margin-top: 10px;
    margin-right: 20px;
}
.color_black{
    color: #666;
}

.wxzhifu_div{
    border-top: 3px solid #888;
    border-bottom: 3px solid #888;
    width: 100%;
}
.wxzhifu_left{
    height: 450px;
    width:100%;
}
.wxzhifu_right{
    width: 100%;
    background-color: #E5E5E5;
    color: #333;
}
.right_content{
    font-size: 16px;
    color: #333;
    margin-top: 0px;
    padding: 20px;
    margin-bottom: 50px;
}
.right_content p{
    margin: 0px auto;
    font-weight: bold;
}
.left_content{
    margin: 0px auto;
    width: 100%;
    height: 450px;
    position: relative;
}
.qrcode-header{
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 16px;
}
.ft-center{
    text-align: center;
}
.qrcode-header-money{
    font-size: 26px;
    font-weight: 700;
    color: #f60;
}
.qrcode-img-wrapper{
    position: relative;
    width: 168px;
    height: auto;
    min-height: 168px;
    margin: 0 auto;
    padding: 6px;
    border: 1px solid #d3d3d3;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
}
.qrcode-img-area{
    width: 180px;
    height: 180px;
    text-align: center;
}
.qrcode-img-explain{
    padding: 10px 0 6px;
}
.fn-left {
    float: left;
    font-size: 16px;
}
.qrcode-img-explain img {
    margin-left: 5px;
    margin-top: 3px;
}
.qrcode-img-explain div {
    margin-left: 10px;
}
.botton_zhifu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.botton_zhifu a{
    color: #eee;
    padding: 2px 8px;
    font-size: 16px;
}
.qrguide-area {
    position: absolute;
    top: 50px;
    left: 450px;
    width: 204px;
    height: 183px;
}
.qrguide-area .qrguide-area-img .active {
    z-index: 10;
}
.qrguide-area .qrguide-area-img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.tiaozhuan{
    height: 300px;
    color: #333;
    font-size: 16px;
    padding-top: 30px;
    text-align: center;
}
.tiaozhuan_button{
    display: inline-block;
}