/* CSS Document */

/* 默认样式设置*/
/* -moz :火狐私有属性；-weblit :chrome、safari私有属性* -ms IE私有属性*/





























.right .title{
    font-size: 16px;
    font-weight: 800;
    margin: 15px 0px 5px 0px;
    padding: 5px 15px;
}
.right .title .bianji_a{
    color: #FFFFFF;
    padding: 5px 15px;
    margin-left: 150px;
}
.right .content{
    background-color: #f6f6f6;
}
.content ul li{
    margin: 5px 0px;
    font-size: 14px;
    border: 1px #EEE solid;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.content .img{
    width:50px;
    height: 50px;
}
.content .erweima{
    height: 120px;
}
.erweima span{
    position: relative;
    bottom: 50px;
}
.erweima img{
    height: 120px;
}