/* 默认样式设置*/
/* -moz :火狐私有属性；-weblit :chrome、safari私有属性* -ms IE私有属性*/

.ui-content .ui-grid-c .ui-block-a, 
.ui-content .ui-grid-c .ui-block-b, 
.ui-content .ui-grid-c .ui-block-c,
.ui-content .ui-grid-c .ui-block-d
{
text-align: center;
padding:10px 0px;
font-size: 0.75em;
}
.ui-grid-c a{
    display: block;
}
.ui-grid-c .menu_yuan{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
    border-radius:1.666665em;
    line-height:40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.ui-grid-c .tb_home{
    font-size: 26px;
    background: #f82;
}
.ui-grid-c .tb_cehuashi{
    background: #ea6644;
}
.ui-grid-c .tb_siyi{
    background: #7788f2;
}
.ui-grid-c .tb_buzhi{
    background: #f82;
}
.ui-grid-c .tb_shexiang{
    background: #62C4EA;
}
.ui-grid-c .tb_sheying{
    background: #F8B868;
}
.ui-grid-c .tb_genzhuang{
    background: #62C4EA;
}
.ui-grid-c .tb_chedui{
    background: #f82;
}
.ui-grid-c .tb_yanyi{
    background: #45D3BF;
}
.ui-grid-c .tb_hunsha{
    background: #f82;
}
.ui-grid-c .tb_jiudian{
    background: #a8dd99;
}
.ui-grid-c .tb_xipu{
    background: #2bb2a3;
}








