/* 默认样式设置*/
/* -moz :火狐私有属性；-weblit :chrome、safari私有属性* -ms IE私有属性*/

.lunbo_div{
    margin: 0px auto;
    height: auto;
    background-color: #FFF;
    overflow: hidden;
    width: 600%;
    position: absolute;
    left: -300%;
}

.lunbo_div img{
    width: 16.666667%;
    float: left;
}

.choose{
      position: absolute;
      top:310px;
      width:100%;
      height: 10px;
    }
    .choose .choose_div{
        width: 10%;
        float: right;
    }
    .choose div span{
      margin-right: 15%;
      float: left;
      display:block;
      background: #E5E5E5;
      width:5px;
      height:5px;
      border-radius: 5px;
    }

    .choose .bg_red{
      background: #1dc116;
    }