<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">

</head>

<body>

<div class="buy_head">提交订单</div>
<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2">[<{$goods['cat_name']}>]<{$goods['goods_name']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">商家：</td>
    <td class="td_r"><{$goods['user_name']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">价格：</td>
    <td class="td_r">&yen <{$goods['price']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">日期：</td>
    <td class="td_r"><{$server_day|date_geshi1}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">可用代金卷：</td>
    <td class="td_r">&yen<{$ky_daijinjuan|number_format=2}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">应付金额：</td>
    <td class="td_r yingfu">&yen <{$dues|number_format=2}></td>
</tr>

<tr class="buy_table_content">
    <td colspan="2">【 购买成功，评论后还可返现：&yen<{$fanxian|number_format=2}> 】</td>
</tr>
</table>
    <div class="shuoming">提交订单后，商家将再次确认订单日期是否有档期，如没有，将全额退款</div>
    <form name="dingdan" method="get" action="<{:U('Goods/zhifu')}>">
        <input type="hidden" name="goods_id" value="<{$goods_id}>" />
        <input type="hidden" name="server_day" value="<{$server_day}>" />
    </form>
    <a href="javascript:void(0)" class="a_tjdd" >提交订单</a>
</div>
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
<script type="text/javascript">
    $('.a_tjdd').bind('click',function(){
        $('form[name=dingdan]').submit();
    })
</script>