
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/goods.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/buy.css">

</head>

<body>
<div class="buy_head">选择支付方式</div>

    <form name="qufukuang" method="get" action="<{:U('Goods/alipay')}>">
<table class="buy_table" cellspacing="0">
<tr class="buy_table_head">
    <td colspan="2">[<{$goods['cat_name']}>]<{$goods['goods_name']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">商家：</td>
    <td class="td_r"><{$goods['user_name']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">价格：</td>
    <td class="td_r">&yen <{$goods['price']}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">日期：</td>
    <td class="td_r"><{$server_day|date_geshi1}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">可用代金卷：</td>
    <td class="td_r">&yen<{$ky_daijinjuan|number_format=2}></td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">应付金额：</td>
    <td class="td_r yingfu">&yen <{$dues|number_format=2}></td>
</tr>

<tr class="buy_table_content">
    <td colspan="2">【 购买成功，评论后还可返现：&yen<{$fanxian|number_format=2}> 】</td>
</tr>
<tr class="buy_table_content">
    <td class="td_l">付款方式：</td>
    <td class="td_r pay_method">
        <select name="pay_method" >
                <volist name="pay_method" key="key" id="vopay">
                    <option value="<{$vopay.id}>" ><{$vopay.name}></option>
                </volist>
            </select>
    </td>
</tr>

</table>
        <input type="hidden" name="order_id" value="<{$order_id}>" />
    </form>
    <a href="javascript:void(0)" class="a_tjdd" >去付款</a>
</div>
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
<script type="text/javascript">
    $('.a_tjdd').bind('click',function(){
        $('form[name=qufukuang]').submit();
    })
</script>