
</head>
<body>

<div data-role="page">
    
    
  <include file='Public/top'/>

    <div data-role="content" style="height: 500px;">
    <p>该例演示页脚中的导航栏。</p>
  </div>

  
  <div class="footer">
  <div data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-icon="home">首页</a></li>
        <li><a href="#" data-icon="star">婚礼人</a></li>
        <li><a href="#" data-icon="grid">购物车</a></li>
        <li><a href="#" data-icon="info">我的</a></li>
      </ul>
    </div>
  </div>
  </div>

  
  
</div> 