<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/index.css">
<script src="__PUBLIC_COMMON__/Js/jquery.min.js"></script> 
<script src="__PUBLIC_COMMON__/Js/function.js"></script> 

</head>
<body>
<include file='Public/top'/>
<include file='Public/bottom'/>
<div style="width:411px;height: 2000px;margin: 0px auto;margin-bottom: 50px;background-color: #00FFDB;">随便写随便写随便写随便写随便写随便写随便写</div>




<script  type="text/javascript">
    /*
    $('#sr').bind('click',function(){
        if($('input[name=sp]').val()==''){
            var a=$('input[name=sp]').attr('placeholder');
            $('input[name=sp]').val(a);
        }
    });
    
</script>
