  <div class="footer">
      <div class="ui-footer">
                  <a href="<{:U('Index/index')}>"><span class=" iconfont foot_home foot_tb">&#xe606;</span><span>首页</span></a>
                  <a href="<{:U('Member/hunlirenshangjiaxinxi')}>"><span class=" iconfont foot_hunliren foot_tb">&#xe613;</span><span>婚礼人</span></a>
                  <a href="<{:U('Member/cart')}>"><span class="iconfont foot_gouwuche foot_tb">&#xe60f;</span><span>购物车</span></a>
                  <a href="<{:U('Member/index')}>"><span class=" iconfont foot_wode foot_tb">&#xe610;</span><span>我的17</span></a>
          </div>
  </div> 





<script>
    wx.config({  
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "wx6231a8932405bdaf", // 必填，公众号的唯一标识
        timestamp: "<{$wx_config['timestamp']}>", // 必填，生成签名的时间戳
        nonceStr: "<{$wx_config['nonceStr']}>", // 必填，生成签名的随机串
        signature: "<{$wx_config['signature']}>",// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function () {
        //wx.onMenuShareAppMessage({
             //desc: "<{$description}>", // 分享描述
        //});
        //wx.onMenuShareQQ({
            //desc: "<{$description}>", // 分享描述
        //});
        //wx.onMenuShareQZone({
            //desc: "<{$description}>", // 分享描述
        //});
    });
    
    
    function writeObj(obj){ 
 var description = ""; 
 for(var i in obj){ 
  var property=obj[i]; 
  description+=i+" = "+property+"\n"; 
 } 
 alert(description); 
} 
</script>



</body>
</html>
