<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/min_menu.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_sousou/iconfont.css">
<div class="min_menu shareBtn" id='min_menu'>
    <span class="iconfont tb_fenxiang"id="fenxiang">&#xe604;</span>
    <span class="fenxiang">分享</span>
</div>

<div id="nativeShare"></div>  




<div id="overlay"></div><!--遮罩层div-->
<div id="zhishi_fenxiang">
</div>

<script src="__PUBLIC_HOME__/Mobile/Js/min_menu.js" type="text/javascript"></script>
<script src="__PUBLIC_HOME__/Mobile/Js/fenxiang.js" type="text/javascript"></script>