


<div  id="logo_header">
<div class="logo"><!--logo-->
    <a href="<{:U('Index/index')}>" class="logol">一起网</a>
<div class="search">
    <form name="searchform" action="<{:U('Index/search')}>" method="get" id="searchform">
        <div class="search_div">
            <span class="iconfont tb_search">&#xe605;</span>
            <input class="inputsr" type="text" name="sp" value="<{$get['sp']}>" placeholder="西式 策划" maxlength="100" data-role="none"  />
        </div>
    </form>
</div>

</div><!--//logo-->
</div>
<script  type="text/javascript">
    $('.inputsr').bind('click',function(){
        window.location.href="<{:U('Index/search_m')}>"; 
    });
    
</script>

