



<div  id="logo_header" data-role="header">
<div class="logo"><!--logo-->
    <a href="<{:U('Index/index')}>" class="logol">一起网</a>
<div class="serch">
    <form name="searchform" action="<{:U('Index/search')}>" method="get" id="searchform">
        <input class="submitsr" type="submit" id='sr' value="搜索" data-role="none"  />
        <div><input class="inputsr" type="text" name="sp" value="<{$get['sp']}>" placeholder="西式 策划" maxlength="100" data-role="none"  /></div>
    </form>
</div>

</div><!--//logo-->
</div>
<script  type="text/javascript">
    $('#sr').bind('click',function(){
        if($('input[name=sp]').val()==''){
            var a=$('input[name=sp]').attr('placeholder');
            $('input[name=sp]').val(a);
        }
    });
    
</script>

