
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/hunliren_shangjiaxinxi.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_public/iconfont.css">
</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe601;</span></a>服务地址管理</div>
    <div class="right">

        <a class="button_a_lvse" id='address_manage'>管理服务地址</a>

    </div>
    

<script>
            $(function(){
                calladd();
            });
            var jsApiParameters = <{$signPackage}> ;
            //获取共享地址
            function onreadyeditAddress(){
		WeixinJSBridge.invoke(
			'editAddress',
                        {"appId": jsApiParameters.appId,
                        "timeStamp": jsApiParameters.timeStamp,
                        "nonceStr": jsApiParameters.nonceStr,
                        "scope": 'jsapi_address',
                        "signType": 'sha1',
                        "addrSign": jsApiParameters.addrSign},
			function(res){
				var value1 = res.proviceFirstStageName;
				var value2 = res.addressCitySecondStageName;
				var value3 = res.addressCountiesThirdStageName;
				var value4 = res.addressDetailInfo;
				var tel = res.telNumber;
				
				//alert(value1 + value2 + value3 + value4 + ":" + tel);
                                //alert(res.msg);
			}
		);
	}
	
	function calladd(){
        if (typeof WeixinJSBridge == "undefined"){
            if (document.addEventListener){
                alert('aaa');
                document.addEventListener('WeixinJSBridgeReady', onreadyeditAddress, false);
            } else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onreadyeditAddress);
                document.attachEvent('onWeixinJSBridgeReady', onreadyeditAddress);
            }
        } else{
            onreadyeditAddress();
        }
    }
	
	</script>

</body>
</html>