<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/cart.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_iphone/iconfont.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_public/iconfont.css">

</head>

<body>
<div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe604;</span></a>购物车</div>
<div class="buy_div">

    <div class="cart_head">
        <i></i>
        <span class="cart_title">我的购物车</span>
        <span style="font-size: 14px;"><span style="color: #F76120"><{$count}></span>/10</span>
    </div>
    <form method="post" action="<{:U('Member/cart_zhifu')}>" name='cart_tjdd'>    
        
    <volist name="mycart" id="vo">
            <a  href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><!--内容遍历-->
                <div class="order_row">
                <div class='td_l'>
                    <div class="picture"><img src="<{$vo['goods_img']}>"></div>
                </div>
                <div class="td_r">
                    <div class="info_name shenglue"><{$vo['goods_name']}></div>
                    <div class="info_name shenglue">商家：<{$vo['shop_name']}></div>
                    <div class="info_name shenglue">订单日期：<{$vo['server_day']|date_geshi1=###}></div>
                    <div class='info_name'><span> <s>原价：&yen;<{$vo['yuan_price']}></s></span><span style="margin-left: 20px;">17价：&yen;<span id='price'><{$vo['goods_price']}></span></span></div>  
                </div>
                </div>
            </a>
            <div class='action'>
                <div class="xuanze"><input type="checkbox" class="ui-checkbox" name="cart_item[]" value="<{$vo['cart_id']}>" checked="true" /></div>
                    <a href="javascript:void(0);" onclick="Del(<{$vo['cart_id']}>)" class="button_a_order">删除</a>
            </div>
        </volist>        
        
        
        
        
        



<div class="money_l">
    代金卷：0
</div>
<div class="money_r">
    应付金额：&yen <span id="money"></span>
</div>

    </form>
    <div class="shuoming">提交订单后，商家将再次确认订单日期是否有档期，如没有，将全额退款</div>
    <div class="xuanze" style="margin-top: 5px;margin-left: 10px;"><input type="checkbox" class="ui-checkbox"  id='quanxuan' checked="true" />全选</div>
    <a href="javascript:void(0)" class="a_tjdd" >提交订单</a>
</div>

<script type="text/javascript">
    $('.a_tjdd').bind('click',function(){
        $('form[name=dingdan]').submit();
    })
    function Del(id){
        if(window.confirm('确定要删除吗？')){
            url="/Home/Member/cart_del/cart_id/"+id+".html";
            $.ajax({
                        type:'post',
                        async : false,
                        url:url,
                        datatype:'json'
                    });
             window.location.href=window.location.href;
        }else{
            return false;
        }
    }
    

    var money=0;
    $('.ui-checkbox').not('#quanxuan').each(function(){
        if($(this).prop("checked")){
            money+=parseFloat($(this).parent().parent().prev().find('#price').text());
        }
        $('#money').html(money.toFixed(2));
    });
    $('.ui-checkbox').not('#quanxuan').bind('change',function(){
        money=parseFloat($('#money').html());
       if($(this).prop("checked")){
            money+=parseFloat($(this).parent().parent().prev().find('#price').text());
        }else{
            money-=parseFloat($(this).parent().parent().prev().find('#price').text());
        }
        $('#money').html(money.toFixed(2));
        
        if($('.ui-checkbox:checked').not('#quanxuan').length==$('.ui-checkbox').not('#quanxuan').length){
            $('#quanxuan').prop("checked",'true');
        }else if($('.ui-checkbox:checked').not('#quanxuan').length==0){
            $('#quanxuan').removeAttr("checked");
        };
    });
    $('#quanxuan').bind('change',function(){
        money=0;
        $(".ui-checkbox").not('#quanxuan').prop('checked',this.checked);
        if($(this).prop('checked')){
            $('.ui-checkbox').not('#quanxuan').each(function(){
                if($(this).prop("checked")){
                    money+=parseFloat($(this).parent().parent().prev().find('#price').text());
                }
                $('#money').html(money.toFixed(2));
            });
        }else{
            $('#money').html('0.00');
        }
        
    });
    
    $('.a_tjdd').bind('click',function(){
        $('form[name=cart_tjdd]').submit();
    });
</script>