
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/cart.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_public/iconfont.css">


</head>

<body>
<div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe601;</span></a>选择支付方式</div>
<div class="buy_div">
<volist name="order" id="vo">
            <a  href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><!--内容遍历-->
                <div class="order_row">
                <div class='td_l'>
                    <div class="picture"><img src="<{$vo['goods_img']}>"></div>
                </div>
                <div class="td_r">
                    <div class="info_name shenglue">[<{$vo['cat_name']}>]<{$vo['goods_name']}></div>
                    <div class="info_name shenglue">商家：<{$vo['shop_name']}></div>
                    <div class="info_name shenglue">订单日期：<{$vo['server_day']|date_geshi1=###}></div>
                    <div class='info_name  shenglue'>17价：&yen;<span id='price'><{$vo['price']}></span></div>  
                </div>
                </div>
            </a>
    </volist>



    <div class="yingfu">代金卷：0</div>


    <div class="yingfu">应付金额：&yen <{$price}></div>


    <div class="shuoming">提交订单后，商家将再次确认订单日期是否有档期，如没有，将全额退款</div>
    <form name="qufukuang" method="post" action="<{:U('Member/cart_gmcg')}>">
        <volist name='order_id' id='vo'>
        <input type="hidden" name="order_id[]" value="<{$vo}>" />
        </volist>
    </form>
    <a href="javascript:void(0)" class="a_tjdd" >去付款</a>
</div>
<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
<script type="text/javascript">
    $('.a_tjdd').bind('click',function(){
        $('form[name=qufukuang]').submit();
    })
</script>