<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_iphone/iconfont.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_public/iconfont.css">
</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe604;</span></a>商品列表</div>


        <volist name="list" id="vo">
        <a href="<{:U('Goods/index',array('goods_id'=>$vo['goods_id']))}>"><!--内容遍历-->
            <div class="order_row">
                <div class='td_l'>
                    <div class="picture"><img src="<{$vo['goods_img']}>"></div>
                </div>
                <div class="td_r">
                    <div class="info_name shenglue"><{$vo['goods_name']}></div>
                    <div class="info_name shenglue">添加日期：<{$vo['add_time']|date='Y/m/d H：i',###}></div>
                    <div class='info_name shenglue'>价格：&yen;<{$vo['price']}></div> 
                </div>
            
           
            </div>
        </a>
            <div class='action'>
                    <a class="button_a_order" href="<{:U('Member/goods_editor',array('goods_id'=>$vo['goods_id']))}>">编辑</a>
                    <a class="button_a_order" href="javascript:void(0);" onclick="Del(<{$vo['goods_id']}>,'<{$vo['goods_name']}>')">下架</a>
                </div>
        </volist> 
    
        
        
        <div class="page_foot"><{$page_foot}></div>
        

    
    
    

<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>

<script type="text/javascript">
    function Del(id,name){
        if(window.confirm('确定要下架商品 ['+name+'] 吗？')){
            var url="/Home/Member/goods_del/goods_id/"+id+".html";
            $.ajax({
                        type:'get',
                        async : false,
                        url:url,
                        datatype:'json'
                    });
             window.location.href=window.location.href;
        }else{
            return false;
        }
    }
    
    
</script>
