<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/order.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_public/iconfont.css">
</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe601;</span></a>已售商品</div>
    <div class="dingdan">
        <div class='dingdan_4'>
            <ul>
                <li>
                    <a href="<{:U('Member/goods_sold')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li">&#xe6e0;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['all']}></span>
                    </div>
                    <div><span>全部</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Member/goods_sold?status=no_pay')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li">&#xe6e0;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['no_pay']}></span>
                    </div>
                    <div><span>待付款</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Member/goods_sold?status=daiqueren')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li">&#xe657;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['daiqueren']}></span>
                    </div>
                    <div><span>待确认</span></div>
                    </a>
                </li>
                <li>
                    <a href="<{:U('Member/goods_sold?status=daipingjia')}>">
                    <div class='dingdan_fenkai_tb_div'>
                        <span class="iconfont tb_dingdan_li">&#xe649;</span>
                        <span style='margin-left: 2px;' class="right_up_tb"><{$status_count['daipingjia']}></span>
                    </div>
                    <div><span>待评价</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    
    
    
    
    
   
       
        
        
        <volist name="list" id="vo">
        <a href="<{:U('Order/view',array('order_id'=>$vo['order_id']))}>"><!--内容遍历-->
            <div class="order_row">
                <div class='td_l'>
                    <div class="picture"><img src="<{$vo['goods_img']}>"></div>
                </div>
                <div class="td_r">
                    <div class="info_name shenglue"><{$vo['goods_name']}></div>
                    <div class="info_name shenglue">商家：<{$vo['user_name']}></div>
                    <div class="info_name shenglue">订单日期：<{$vo['server_day']|date_geshi1=###}></div>
                    <div class='info_name'><span>价格：&yen;<{$vo['price']}></span><span style="margin-left: 20px;">实付：&yen;<{$vo['dues']}></span></div> 
                    <div class="info_name shenglue">订单状态：<{:order_status($vo['pay_status'],$vo['status'])['status']}></div>
                </div>
                
                
                
            </div>
        </a>
            <div class='action'>
                    <a class="button_a_order" name="<{$vo['mobile_phone']}>" >联系买家</a>
                </div>
        </volist>
        
    
        
        
        <div class="page_foot"><{$page_foot}></div>
        
 
   

<iframe height="1" frameborder="0" width="1" style="position:absolute;top:0;left:-9999px;" src="<{:U('index/menu')}>"></iframe>
<script type="text/javascript">
    var canshu="<{$canshu}>";
    if(canshu==='no_pay'){
        $('.dingdan_4>ul>li:eq(1)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(1)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(1) *').css('color','#fff');
    }else if(canshu==='daiqueren'){
        $('.dingdan_4>ul>li:eq(2)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(2)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(2) *').css('color','#fff');
    }else if(canshu==='daipingjia'){
        $('.dingdan_4>ul>li:eq(3)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(3)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(3) *').css('color','#fff');
    }else{
        $('.dingdan_4>ul>li:eq(0)').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(0)>a>div').css('background-color','#f90');
        $('.dingdan_4>ul>li:eq(0) *').css('color','#fff');
    }
    
    
    
    $('.order_select').bind('change',function(){
        location.replace(this.value);
    });
    //弹出联系方式
    $('.button_a_lvse').bind('mouseover',function(e){
        var xx=e.pageX+10;
        var yy=e.pageY+10;
        var dianhua=$(this).attr('name');
        var dh='<div id="div_tanchu"><button type="button">电话：'+dianhua+'</button></div>';
        $('body').append(dh);
        $('#div_tanchu').css({top: yy, left: xx-60});
    });
    //鼠标移开 删除弹出
    $('#dh').bind('mouseout',function(){
        $('#div_tanchu').remove();
    });
    
</script>


