<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/zhuce.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_iphone/iconfont.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_public/iconfont.css">
</head>

<body>
<div class="fanhui padding"><a href="javascript:history.back()"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe604;</span></a>修改会员密码</div>
<div id="infor" class="infor"></div>
    <form name="xiugaimima"  method="post" action="<{:U('Member/xiugai_mima_success')}>" id="form1" >
        <input type="hidden" name="hidden" value="<{$time}>" />


<div class="zhuce1_tr">
<i class="icon icon-password"></i>   
<input type="password" name="yuan_mima" class="zhuce1_tr_td2" placeholder="原密码" />
</div><!--第二行-->

<div class="zhuce1_tr">
     <i class="icon icon-password"></i> 
<input type="password" name="new_mima" class="zhuce1_tr_td2" placeholder="新密码" />
</div><!--第三行-->
<div class="mimaxiaoguo" id="mimaxiaoguo">
<div class="mimaxiaoguo_fenlei">弱</div>
<div class="mimaxiaoguo_fenlei">中</div>
<div class="mimaxiaoguo_fenlei" id="mimaxiaoguo_last">强</div>
</div><!--密码效果-->

<div class="zhuce1_tr">
    <i class="icon icon-password"></i> 
<input type="password" name="again_mima" class="zhuce1_tr_td2" placeholder="确认新密码" />
</div><!--第四行-->

<div class="zhuce1_tr">
    <i class="icon icon-password"></i> 
<input type="text" name="yanzhengma" class="zhuce1_tr_td2" placeholder="验证码"/>
</div><!--第五行-->
<img class="zhuce1_yanzhengma" src="__URL__/getCode" /><span>看不清？点击图片</span>
<a href="javascript:void(0)" id="zhuce1_xiayibu" class="a_xyb" onClick="return checkForm(this)">下一步</a>


</form>


<script src="__PUBLIC_HOME__/Mobile/Js/xiugai_mima.js" type="text/javascript"></script>

</body>
</html>
