
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/member.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/hunliren_shangjiaxinxi.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Mobile/Css/iconfont/iconfont_public/iconfont.css">
</head>

<body>
    <div class="fanhui padding"><a href="<{:U('Member/index')}>"><span class="iconfont tb_fanhui"id="shangjia_info_fanhui">&#xe601;</span></a>账户设置</div>
    <span id='infor' class="infor" style="color: #666;"></span>
    <div class="right">
        <div class="right_head">
            <div class="hlr_touxiang">
                <img src="<{$touxiang_url}>" class="img" />
                <img src='__PUBLIC_HOME__/Images/public/circle_f6f6f6.png' class="img_circle" />
            </div>
        <div class="hlr_name">
            <div><{$day_time}>， <{$userdata['user_name']}></div>
            <div>账户余额：0元</div>    
        </div>
        </div>
        <div class="content">
            <ul>
                <li>会员名： <{$userdata['user_name']}></li>
                <form name="zhanghushezhi" action="<{:U('Member/zhanghushezhi_check')}>" method="post">
                <if condition="$userdata['zhifubao'] eq ''">
                    <li>
                        输入您的支付宝账户：
                        <input class="tixian_text" type="text" name="zhifubao" style="width: 150px;" /> 
                        
                    </li>
                    <input class="zhanghushezhi_submit" type="submit" value="确定" id="submit" />
                <else />
                    <li>
                        支付宝账户: <{$userdata['zhifubao']}>
                    </li>
                    <input class="zhanghushezhi_submit" type="button" value="更改账户" id="button1" />
                    <li id='ggzh' class='ggzh' >
                        输入您的支付宝账户：
                        <input class="tixian_text" type="text" name="zhifubao" style="width: 150px;" /> 
                    </li>
                    <input class="zhanghushezhi_submit ggzh" type="submit" value="确定" id="submit" />
                </if>
                </form>
            </ul>
        </div>
    </div>
    
    
    
    
    
    
    
    
    


<script type="text/javascript">
    $('.ggzh').css('display','none');
    $('input[name=zhifubao]').bind('focus',function(){
        $('#infor').css('display','block');
        $('#infor').html('(请输入正确的支付宝账号，否则提现无法到账。)');
        $('infor').css('color','#666');
        setTimeout(infor_none,5000);
    });
    $('input[name=zhifubao]').bind('blur',function(){
        yanzheng_zhifubao();
    });
    $('#submit').bind('click',function(event){
        if(!(yanzheng_zhifubao())){
            event.preventDefault();
        };
    });
    function yanzheng_zhifubao(){
        var str=$('input[name=zhifubao]').val();
        if(is_feifa(str)){
            $('#infor').css('display','block');
            $('#infor').html('(含有非法字符，请重新输入。)');
            $('#infor').css('color','red');
            setTimeout(infor_none,5000);
            return false;
        }else if(str===''){
            $('#infor').css('display','block');
            $('#infor').html('(为空，请输入正确的支付宝账号，否则提现无法到账。)');
            $('#infor').css('color','red');
            setTimeout(infor_none,5000);
            return false;
        }else{
            $('#infor').css('display','block');
            $('#infor').html('(请确保支付宝账号正确，否则提现无法到账。)');
            $('#infor').css('color','#666');
            setTimeout(infor_none,5000);
            return true;
        }
    }
    $('#button1').bind('click',function(){
        $('.ggzh').css('display','block');
    });
    
    
    function infor_none(event){
        event.preventDefault();
    $('#infor').css('display','none');
}
</script> 
    </body>
</html>