
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467132745'); /* IE9*/
  src: url('iconfont.eot?t=1467132745#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467132745') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467132745') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467132745#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantou:before { content: "\e643"; }
.icon-jiantou1:before { content: "\e677"; }
.icon-jiantou2:before { content: "\e694"; }
.icon-jiantou3:before { content: "\e652"; }
.icon-sousuo:before { content: "\e620"; }
.icon-zuihouyibanfenxiang:before { content: "\e6fb"; }
.icon-fenxiang:before { content: "\e617"; }
.icon-weixin:before { content: "\e636"; }
.icon-pengyouquan:before { content: "\e706"; }
.icon-iconfontqq:before { content: "\e649"; }
.icon-qqkongjian:before { content: "\e82c"; }
.icon-sousuo1:before { content: "\e638"; }
